# encoding: UTF-8

#nav
  %ol
    %li= link_to('all', transactions_path(@name))
    - @sectors.each do |s|
      %li= link_to(s, transactions_sector_path(@name, s))
#txns
  %ol
    - @txns.each do |t|
      %li= t.supplier_name
  #stats
    %p= "This month you spent #@this_month"
    %p= "Previous month you spent #@prev_month"
    %p= "On average each month you spend #@avg_month"


