!!!
%html
  %head
    %title Golda
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top_bar
      %img#logo{:src => asset_path("golda.jpeg")}
      %span#golda גולדה
      - if @name.present?
        #name= "Hi, #@name"
    = yield
